<div class="employee-form">
  <h1 mat-dialog-title>Add Employee</h1>
  <div mat-dialog-content>
    <p class="desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero inventore
      possimus culpa quidem expedita ur enim, odio eos repudiandae voluptates
      saepe quisquam.
    </p>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="app-form"
    >
      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email address" formControlName="email" />
          <mat-error
            *ngIf="
              !formGroup.controls['email'].valid &&
              formGroup.controls['email'].touched
            "
          >
            Email must be valid
          </mat-error>
        </mat-form-field>
      </div>

      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Employee Name</mat-label>
          <input
            matInput
            placeholder="Fullname of the employee"
            formControlName="fullName"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['fullName'].valid &&
              formGroup.controls['fullName'].touched
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input
            type="number"
            matInput
            placeholder="Phone number"
            formControlName="phone"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['phone'].valid &&
              formGroup.controls['phone'].touched
            "
          >
            Phone is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Date of join</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            matInput
            placeholder="Select Join Date"
            formControlName="dateOfJoin"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="
              !formGroup.controls['dateOfJoin'].valid &&
              formGroup.controls['dateOfJoin'].touched
            "
          >
            Join Date is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="app-form-control">
        <mat-checkbox formControlName="active" color="primary"
          >Active</mat-checkbox
        >
      </div>

      <div class="form-footer">
        <button
          mat-raised-button
          color="warn"
          mat-button
          [mat-dialog-close]="'cancel'"
          class="button"
        >
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          [disabled]="!formGroup.valid || loading"
        >
          Submit Form
        </button>
      </div>
    </form>
  </div>
</div>
