<div class="app-header">
  <div class="app-header-head">
    <h1>Add / Edit Shift</h1>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus nihil, at,
    distinctio rem veniam modi delectus harum excepturi cumque illum mollitia
    esse facilis architecto! Quas, rerum ad? Alr sit amet consectetur,
    adipisicing elit. Minus nihil, at, distinctio rem veniam modi delectus harum
    excepturi cumque illum mollitia esse facilis architecto! Quas, rerumiquid,
    ipsam. Porro?
  </p>
</div>
<div class="app-body">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit(formGroup.value)"
    class="app-form shift-editor"
  >
    <div class="flex items-center">
      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Code</mat-label>
          <input matInput placeholder="Shift code" formControlName="code" />
          <mat-error
            *ngIf="
              !formGroup.controls['code'].valid &&
              formGroup.controls['code'].touched
            "
          >
            Code is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="app-form-control" style="margin-left: 10px; width: 400px">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Shift Name" formControlName="name" />
          <mat-error
            *ngIf="
              !formGroup.controls['name'].valid &&
              formGroup.controls['name'].touched
            "
          >
            Name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex items-center">
      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Shift Start Time</mat-label>
          <input matInput placeholder="08:00 AM" formControlName="startTime" />
          <mat-error
            *ngIf="
              !formGroup.controls['startTime'].valid &&
              formGroup.controls['startTime'].touched
            "
          >
            Start time is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="app-form-control" style="margin-left: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Shift End Time</mat-label>
          <input matInput placeholder="04:00 PM" formControlName="endTime" />
          <mat-error
            *ngIf="
              !formGroup.controls['endTime'].valid &&
              formGroup.controls['endTime'].touched
            "
          >
            End time is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="app-form-control" style="margin-left: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Total Hours</mat-label>
          <input matInput placeholder="08:00 HRS" formControlName="totalHrs" />
          <mat-error
            *ngIf="
              !formGroup.controls['totalHrs'].valid &&
              formGroup.controls['totalHrs'].touched
            "
          >
            Total Hours is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex items-center">
      <div class="app-form-control">
        <mat-form-field appearance="outline">
          <mat-label>Break Start Time</mat-label>
          <input
            matInput
            placeholder="08:00 AM"
            formControlName="breakStartTime"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['breakStartTime'].valid &&
              formGroup.controls['breakStartTime'].touched
            "
          >
            Break Start time is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="app-form-control" style="margin-left: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Break End Time</mat-label>
          <input
            matInput
            placeholder="04:00 PM"
            formControlName="breakEndTime"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['breakEndTime'].valid &&
              formGroup.controls['breakEndTime'].touched
            "
          >
            Break End Time is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="app-form-control" style="margin-left: 10px">
        <mat-form-field appearance="outline">
          <mat-label>Total Break Hours</mat-label>
          <input
            matInput
            placeholder="08:00 HRS"
            formControlName="totalBreakHrs"
          />
          <mat-error
            *ngIf="
              !formGroup.controls['totalBreakHrs'].valid &&
              formGroup.controls['totalBreakHrs'].touched
            "
          >
            Break Total Hours is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="app-form-control">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Shift Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="form-footer">
      <button
        mat-raised-button
        (click)="cancelAction()"
        color="warn"
        mat-button
        class="button"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="button"
        [disabled]="!formGroup.valid"
      >
        Submit Form
      </button>
    </div>
  </form>
</div>
