<div class="toolbar" role="banner">
  <span>Welcome</span>
  <div class="toolbar-menus">
    <a [routerLink]="['/']" [ngClass]="{ 'router-active': pathName === '/' }">
      <i class="fas fa-user-plus"></i>
      Employees
    </a>
    <a
      [routerLink]="['/shifts']"
      [ngClass]="{ 'router-active': pathName === '/shifts' }"
    >
      <i class="fas fa-calendar-check"></i>
      Shifts
    </a>
    <a
      [routerLink]="['/holidays']"
      [ngClass]="{ 'router-active': pathName === '/holidays' }"
    >
      <i class="fas fa-umbrella-beach"></i> Holidays
    </a>
    <a [routerLink]="['/shift-assignment']">
      <i class="fas fa-users-cog"></i> Shift Assignment
    </a>
    <a [routerLink]="['/calendar']">
      <i class="fas fa-users-cog"></i> Calendar
    </a>
  </div>
</div>
<div class="app-body">
  <router-outlet></router-outlet>
</div>
